<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Sanity Test Suite" parallel= "methods" thread-count="5">

  <test name="Chrome test cases">

    <parameter name="testBox" value="web"/>
    <parameter name="version" value="latest"/>
    <parameter name="browser" value="chrome"/>
    <parameter name="platform" value="macOS 10.15"/>

    <classes>
      <class name="com.hellosign.tests.CreateDocument"/>


    </classes>

  </test>



<!--  <test name="Galaxy S5 test cases">-->
<!--    <parameter name="testBox" value="mobile"/>-->
<!--    <parameter name="browser" value="chrome"/>-->
<!--    <parameter name="deviceName" value="Galaxy S5"/>-->

<!--    <classes>-->
<!--      <class name="com.hellosign.tests.CreateDocument"/>-->
<!--    </classes>-->
<!--  </test>-->


  <!--  <test name="Firefox test cases">-->
<!--    <parameter name="testBox" value="sauce"/>-->
<!--    <parameter name="version" value="68.0"/>-->
<!--    <parameter name="browser" value="Firefox"/>-->
<!--    <parameter name="platform" value="macOS 10.14"/>-->
<!--    <classes>-->
<!--      <class name="com.hellosign.tests.CreateDocument"/>-->
<!--    </classes>-->
<!--  </test>-->


<!--  <test name="Safari Mac test cases">-->
<!--    <parameter name="testBox" value="sauce"/>-->
<!--    <parameter name="version" value="12.1"/>-->
<!--    <parameter name="browser" value="Safari"/>-->
<!--    <parameter name="platform" value="macOS 10.13"/>-->
<!--    <classes>-->
<!--      <class name="com.hellosign.tests.CreateDocument"/>-->
<!--    </classes>-->
<!--  </test>-->


</suite>


